.hover-effect:hover {
  background: #9654f4;
  color: white;
}

.hover-effect:hover svg path {
  fill: white;
}

.hover-effect.stroke:hover svg path,
.hover-effect:hover .icon rect {
  fill: white;
  stroke: white;
}

.active-items {
  background: #9654f4;
  color: white;
}

.active-items svg path {
  fill: white;
}

.active-items-more {
  background: #9654f4;
  color: white;
}

.active-items-more.stroke svg path,
.active-items-more.icon rect {
  fill: white;
  stroke: white;
}
