/* Styles for month and year header */
.react-datepicker__header {
  color: #7d7d7d;
  border: none;
  /* padding-top: 12px;
  padding-bottom: 0; */
  padding: 12px 24px 0 24px;
}
.react-datepicker__navigation-icon--previous::before {
  top: 10px;
  color: #9654f4 !important;
  border-color: #9654f4 !important;
}

.react-datepicker__navigation-icon::before {
  top: 10px;
  color: #9654f4 !important;
  border-color: #9654f4 !important;
}

.react-datepicker__current-month {
  color: #7d7d7d;
}

.react-datepicker__day-names {
  margin-top: 12px;
}
